<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testLayer.HomePageImdbTest"/>
      <class name="com.qa.testLayer.ContentPageIMDBTest"/>
      <class name="com.qa.testLayer.HomePageWikipediaTest"/>
      <class name="com.qa.testLayer.SearchPageIMDBTest"/>
      <class name="com.qa.testLayer.ContentPageWikipediaTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
